{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

helm plugin install https://github.com/jkroepke/helm-secrets --version v4.6.1

{{ end -}}
