{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "danielfoehrkn/switch"
tap "homebrew/bundle"
tap "minio/stable"
tap "ngrok/ngrok"
tap "siderolabs/tap"
brew "argocd"
brew "atuin"
brew "aws-nuke"
brew "awscli"
brew "python@3.12"
brew "bfg"
brew "chart-testing"
brew "chezmoi"
brew "colordiff"
brew "node"
brew "corepack"
brew "docker-buildx"
brew "fzf"
brew "gnupg"
brew "go"
brew "helm"
brew "jq"
brew "k9s"
brew "kind"
brew "kubernetes-cli"
brew "kustomize"
brew "logcli"
brew "nmap"
brew "nuclei"
brew "poetry"
brew "pyenv"
brew "redis"
brew "restic"
brew "sops"
brew "terraform"
brew "terragrunt"
brew "thefuck"
brew "tree"
brew "websocat"
brew "wget"
brew "wireguard-tools"
brew "yarn", link: false
brew "yq"
brew "zsh"
brew "danielfoehrkn/switch/switch"
brew "minio/stable/mc"
brew "siderolabs/tap/talosctl"
cask "balenaetcher"
cask "brave-browser"
cask "discord"
cask "docker"
cask "elgato-stream-deck"
cask "firefox"
cask "gimp"
cask "github"
cask "google-chrome"
cask "headlamp"
cask "iterm2"
cask "meetingbar"
cask "microsoft-remote-desktop"
cask "mitmproxy"
cask "ngrok"
cask "openvpn-connect"
cask "pgadmin4"
cask "scroll-reverser"
cask "signal"
cask "slack"
cask "spotify"
cask "steam"
cask "tailscale"
cask "telegram"
cask "visual-studio-code"
cask "wireshark"
vscode "4ops.terraform"
vscode "darkriszty.markdown-table-prettify"
vscode "eamodio.gitlens"
vscode "fredwangwang.vscode-hcl-format"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "github.remotehub"
vscode "github.vscode-github-actions"
vscode "github.vscode-pull-request-github"
vscode "golang.go"
vscode "hashicorp.hcl"
vscode "hashicorp.terraform"
vscode "jaakko.black"
vscode "mindaro-dev.file-downloader"
vscode "ms-azuretools.vscode-docker"
vscode "ms-kubernetes-tools.vscode-kubernetes-tools"
vscode "ms-python.black-formatter"
vscode "ms-python.debugpy"
vscode "ms-python.flake8"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-vscode.azure-repos"
vscode "ms-vscode.remote-repositories"
vscode "oderwat.indent-rainbow"
vscode "redhat.vscode-yaml"
vscode "thedavej.night-owl-black"
vscode "viktorqvarfordt.vscode-pitch-black-theme"
EOF
{{ end -}}
